/*---------------------------start---------------------------------*/
html {
  height: 100%;
  background: #fff;
}
body {
  font: 10px/10px Arial, Helvetica, sans-serif;
  min-height: 100%;
  min-width: 80%;
  width: 80%;
  margin: 0 auto;
  color: #000;
}
/*:before,
:after*/
.container:before,
.container:after {
  display: block;
  clear: both;
  content: "";
}

/*---------------------------HEADER----------------------------------*/
header {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
}
header .container {
  margin: 0 auto;
}
header .container h1 {
  font-size: 30px;
  line-height: 30px;
}

/*-----------------------------MAIN-------------------------------*/
main {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
}
main .container {
  margin: 0 auto;
}
h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}
.container {
  width: 100%;
}
.table {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.table tbody tr:nth-child(odd) {
  background: #fff;
}
.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}

/*-----------------------------MEDIA------------------------------*/
@media (max-width: 910px) {
  .container table {
    max-width: 100%;
    display: block;
    overflow: auto;
  }
}
