/*---------------------------start---------------------------------*/
html {
  height: 100%;
  background: #fff;
}
body {
  font: 10px/10px Arial, Helvetica, sans-serif;
  min-height: 100%;
  min-width: 80%;
  width: 80%;
  margin: 0 auto;
  color: #000;
}

/*---------------------------HEADER----------------------------------*/
header {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
}
header .container {
  margin: 0 auto;
}
header .container h1 {
  font-size: 30px;
  line-height: 30px;
}

/*-----------------------------MAIN-------------------------------*/
main {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
}
.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}
.addNewUsers h2,
.usersTable h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}
.addNewUsers form {
  border: 1px solid black;
  padding: 5px 5px 20px 5px;
}
.addNewUsers p {
  margin: 20px 0 0 0;
}
.addNewUsers p input {
  width: 60%;
}
.addNewUsers p input,
.addNewUsers p select {
  padding: 3px;
  font-size: 16px;
  line-height: 16px;
}
.addNewUsers p select {
  width: 63%;
}
.addNewUsers p select option {
  border-bottom: 1px solid black;
}
button {
  width: 40%;
  padding: 7px 10px;
  margin-left: 60%;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.usersTable table {
  width: 100%;
}
.usersTable tr th,
.usersTable tr td {
  padding: 3px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid black;
}
.usersTable tr th {
  background-color: #ccc;
}
.usersTable tr td input[type="text"] {
  width: 98%;
  font-size: 16px;
  line-height: 16px;
}
/*----------------------------FOOTER-----------------------------*/
footer {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
}
footer .container {
  margin: 0 auto;
}
footer .container h1 {
  font-size: 30px;
  line-height: 30px;
}
footer .container p input[type="button"] {
  padding: 7px 10px;
  margin: 10px 20px 0 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
/*-----------------------------MEDIA------------------------------*/
@media (max-width: 910px) {
  .usersTable table {
    max-width: 100%;
    display: block;
    overflow: auto;
  }
}
