/*------------------------notFilledField--------------------------*/
.notFilledField {
  display: none;
  position: absolute;
  font-size: 18px;
  line-height: 18px;
  border: 4px solid red;
  background: #fff;
  padding: 5px 10px;
}
.notFilledField:after,
.notFilledField:before {
  bottom: 102%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.notFilledField:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.notFilledField:before {
  border-color: rgba(204, 0, 0, 0);
  border-bottom-color: #cc0000;
  border-width: 13px;
  margin-left: -13px;
}
